{% extends "layout.html" %}

{% block body %}
You have ${{down_payment}} for a down payment.<br>
${{budget}} is your maximum budget.<br>
Your insurance will cost approximately ${{insurance}} annually; insurance is such a scam.<br>
Your interest rate is {{interest}}% that the banks steal from you.<br>
Neighborhood preference: {{neighborhood}}<br>
Commute preference: {{commute}}<br>
Nightlife preference: {{nightlife}}<br>
Cleaning appliance preference: {{cleaning}}<br>
Nice to haves: {{nicetohaves}}<br>
<h2>Unfortunately there's nothing in our database within your budget :(</h2>
{% endblock %}




              
